// Here you can add other styles
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
  font-family: 'Open Sans', serif;
}

.main {
  padding-top: 2rem;
}

.app-header.navbar .navbar-brand {
  background-size: 140px auto;
}

// utilities
@import "custom/utilities";
//components
@import "custom/components";
