// CARDS

.card-header {
  color: $white;
}

.card {
  &.rounded {
    background-color: $gray-50;
    border: 0;
    border-top-left-radius: $card-roundness;
    border-top-right-radius: $card-roundness;

    .card-header {
      padding: 0.25rem 1.25rem;
      border-top-left-radius: $card-roundness;
      border-top-right-radius: $card-roundness;
    }

    .card-body {
      color: $card-color;

      h6 {
        margin-bottom: 1.5rem;
      }

      .form-group {
        .form-control {
          border-color: $input-color;
          background: $input-color;
        }

        .form-control[readonly] {
          border: 0;
          background: $readonly-input-color;
        }
      }
    }

    .card-footer {
      border-bottom-left-radius: $card-roundness;
      border-bottom-right-radius: $card-roundness;
    }
  }
}

.net_impact_content {
  display: none;
  &.show {
   display: flex;
   &.show.block {
     display: block;
   }
  }
 }

.cb-list {
  ul {
    list-style-image: url('../img/list-image.png');
  }
}

ul.no-bullet {
  list-style: none;
}
