.margin-left-5p {
    margin-left: 1%;
    margin-right: 1%;
}

.margin-bottom-5rem {
  margin-bottom: .5rem;
}

.no-pad {
  padding: 0;
}

.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}
